button{
    background-color: #333333;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin: 5px 10px;
}
#reset{
    background-color: grey;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin: 5px 10px;
}
#reset:hover{
    background-color: #f5f5f5;
}
button:hover{
    background-color: gray;
    color: black;
}